@import '../../../styles.scss';

.messages {
    width: 72%;
    position: fixed;
    top: 79px;
    bottom: 15px;
    right: 1%;
    box-sizing: border-box;
}

.messages-table {
    width: 100%;

    &__cell-name {
        width: 140px;
    }

    &__cell-body {

        &--subject {
            font-weight: 500;
        }
    }

    &__cell-date {
        width: 60px;
    }
}

.expanded-message {
    overflow: hidden;
    
    &__author-date-wrapper {
        @include flexible(row, space-between, center);
        padding-top: 10px;
    }

    &__author {
        @include flexible(row, flex-start, center);

        &--avatar {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: #aac8f8;
            margin-right: 10px;
        }

        &--name {
            margin-bottom: 0px;
            font-weight: 500;
        }
    }

    &__date {
        color: rgba(0, 0, 0, .7);
    }

    &__subject {
        font-weight: 500;
        margin-bottom: 0px;
        padding: 10px;
    }

    &__text {
        background-color: #eeeeee;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

tr.detail-row {
    height: 0;
}

tr.element-row {
   overflow: hidden;
}
  
tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}
  
tr.element-row:not(.expanded-row):active {
    background: #efefef;
}
  
.element-row td {
    border-bottom-width: 0;
    padding: 0px 5px;
}