<div class="auth-page">
  <mat-card class="auth-page__card">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Login">
        <form
          class="auth-form auth-page__form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <p>
            <mat-form-field class="auth-form__form-field" appearance="standard">
              <mat-label>Email</mat-label>
              <input
                type="email"
                formControlName="email"
                matInput
                placeholder="example@mail.com"
              />
              <mat-error *ngIf="loginForm.get('email')?.errors?.email">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.get('email')?.errors?.required">
                Email is <strong>required</strong>
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="auth-form__form-field" appearance="standard">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput />
              <mat-error *ngIf="loginForm.get('password')?.errors?.required">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="loginForm.get('password')?.errors?.minlength?.requiredLength">
                Password must be at least {{ loginForm.get('password')?.errors?.minlength?.requiredLength }} characters long
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </p>
          <button 
            type="submit" 
            [disabled]="loginForm.invalid" 
            mat-raised-button 
            color="primary"
          >Login</button>
        </form>
      </mat-tab>
      <mat-tab label="Register">
        <form 
          class="auth-form auth-page__form" 
          [formGroup]="registerForm" 
          (ngSubmit)="register()"
        >
          <p>
            <mat-form-field class="auth-form__form-field" appearance="standard">
              <mat-label>Name</mat-label>
              <input type="text" formControlName="name" matInput />
              <mat-error *ngIf="registerForm.get('name')?.errors?.required">
                Name is <strong>required</strong>
              </mat-error>
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="auth-form__form-field" appearance="standard">
              <mat-label>Email</mat-label>
              <input
                type="email"
                formControlName="email"
                matInput
                placeholder="example@mail.com"
              />
              <mat-error *ngIf="registerForm.get('email')?.errors?.email">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="registerForm.get('email')?.errors?.required">
                Email is <strong>required</strong>
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="auth-form__form-field" appearance="standard">
              <mat-label>Username</mat-label>
              <input type="text" formControlName="username" matInput />
              <mat-error *ngIf="registerForm.get('username')?.errors?.pattern">
                Username can only contain Latin letters, numbers and underscores
              </mat-error>
              <mat-error *ngIf="registerForm.get('username')?.errors?.required">
                Username is <strong>required</strong>
              </mat-error>
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="auth-form__form-field" appearance="standard">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput />
              <mat-error *ngIf="registerForm.get('password')?.errors?.required">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="registerForm.get('password')?.errors?.minlength?.requiredLength">
                Password must be at least {{ loginForm.get('password')?.errors?.minlength?.requiredLength }} characters long
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </p>
          <button 
            type="submit" 
            [disabled]="registerForm.invalid" 
            mat-raised-button
            color="primary"
          >Register</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
