<div class="messenger-page">
    <mat-toolbar class="header">
        <span class="header__logo">Messenger</span>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <button mat-stroked-button (click)="logout()">Logout</button>
                </li>
            </ul>
        </nav>
    </mat-toolbar>
    <main>
        <mat-card class="aside">
            <div class="aside__header">
                <mat-card-title>Chats</mat-card-title>
                <button mat-icon-button>
                    <mat-icon matSuffix>forum</mat-icon>
                </button>
            </div>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </main>
</div>